.description-text {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 700px;
}

.white-text {
    color: white;
}

.about-me-description-wrapper {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}

.about-image {
    height: 500px;
}

.title-wrapper {
    display: flex;
    padding-top: 56px;
    justify-content: space-between;
}

.title-wrapper > div {
  align-self: flex-end;
  padding-bottom: 60px;
}

.images-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.aws-image-wrapper {
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.aws-image {
  height: 400px;
  max-width: 100%;
}

.aws-link-button {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.aws-link-button:hover {
  background: var(--primary-color-hover);
}

.images-container > img {
  border: 1px solid white;
  object-position: center;
}

.certificate-image {
    position: relative;
    height: 600px;
    max-width: 100%;
    border-radius: 8px;
}

.french-certificate {
    max-width: 100%;
    border-radius: 8px;
}

.about-me-wrapper {
  margin-top: 60px;
}

@media only screen and (max-width: 480px){
    .about-image {
        display: none;
    }
    .about-me-wrapper {
        margin-top: 30px;
    }

    .who-text {
        margin-bottom: 16px;
    }

    .design-image {
        display: none;
    }

    .certificate-image, .french-certificate{
        margin-top: 20px;
        height: 300px;
        position: relative;
        top: 0;
    }

    .aws-image-wrapper {
        padding: 16px;
    }

    .aws-image-wrapper img {
        height: 200px;
    }
}
